<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pwr.rss.reader"
    android:versionCode="7"
    android:versionName="2.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="pwr.rss.reader.ApplicationObject"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pwr.rss.reader.SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pwr.rss.reader.FeedsListActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTop" />
        <activity android:name="pwr.rss.reader.FeedDetailsActivity" />
        <activity android:name="pwr.rss.reader.PreferencesNotificationActivity" />
        <activity android:name="pwr.rss.reader.PreferencesActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="pwr.rss.reader.FeedsListInstructionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="pwr.rss.reader.FeedDetailsInstructionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name="pwr.rss.reader.web.WakeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SCREEN_ON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.Intent.ACTION_USER_PRESENT" />
                <action android:name="pwr.rss.reader.action.start_download" />
            </intent-filter>
        </receiver>
        <receiver android:name="pwr.rss.reader.web.NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="pwr.rss.reader.web.DownloadService" />
        <service android:name="pwr.rss.reader.web.ServiceManager" />
    </application>

</manifest>